.table-scroll-wrapper {
    max-height: 530px;
    overflow: auto;
    border-top: 1px solid #dee2e6;
}

.table-scroll-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 4px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.table thead th {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 1rem;
}

.table td,
.table th {
    padding: 0.3rem;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .table-scroll-wrapper {
        max-height: 450px;
    }

    .table td,
    .table th {
        padding: 0.3rem;
        font-size: 0.85rem;
    }
}

.custom-badge {
    display: inline-block;
    min-width: 80px;
    text-align: start;
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    line-height: 1.5;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-btn-tambah-wrap {
    flex: 1 1 auto;
}

.custom-form-import {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-input-file {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    flex: 1 1 auto;
}

.custom-btn-import {
    flex: 0 0 auto;
    white-space: nowrap;
}

.custom-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    flex: 0 0 auto;
}

.custom-limit-page {
    flex: 0 0 auto;
}

.custom-search {
    flex: 0 0 auto;
    width: 200px;
}

@media (max-width: 767.98px) {
    .custom-header {
        flex-direction: column;
        align-items: stretch;
    }

    .custom-left {
        flex-direction: column;
        align-items: stretch;
    }

    .custom-btn-tambah-wrap {
        width: 100%;
    }

    .custom-form-import {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .custom-input-file {
        flex: 1 1 65%;
    }

    .custom-btn-import {
        flex: 1 1 30%;
    }

    .custom-right {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .custom-limit-page {
        flex: 1 1 25%;
    }

    .custom-search {
        flex: 1 1 70%;
    }

    .custom-btn-tambah {
        width: 100%;
    }
}
